@font-face {
  font-family: "Dirtyline";
  src: url("/fonts/dirtyline-36daysoftype-2022.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: "Dirtyline", sans-serif;
  color: #c5fcfc;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-size: 15px;
  color: #c5fcfc;
  border: 2px solid #c5fcfc;
  padding: 20px 30px;
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 600px) {
  button {
    font-size: 12px;
    padding: 10px 15px;
  }
}

@media (max-width: 992px) {
  button {
    font-size: 14px;
    padding: 15px 20px;
  }
}

h1 {
  font-weight: bold;
}
