@import "tailwindcss";
@font-face {
  font-family: "Dirtyline";
  src: url("/fonts/dirtyline-36daysoftype-2022.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* improves rendering performance */
}
